
<div class="row">
	<div class="tree-border col-md-2">
		<h3>部门WiKi</h3>

		<treecontrol class="tree-classic"
			options="treeOptions"
			tree-model="treedata"
			node-children="children"
			on-selection="showSelected(node)"
			selected-node="node1">

			{{node.name}}
		</treecontrol>
	</div>

	<div class="node-preview col-md-10">

		<div class="well">
			<h1>{{node1.name?node1.name:"N/A"}}</h1>

			<div class="content">
			</div>
		</div>
		<!-- 多说评论框 start -->
		<div class="ds-thread"
			data-thread-key="wiki-{{node1.id}}"
			data-title="wiki-{{node1.name}}"
			data-url="http://www.xocean.ijser.cn"></div>
		<!-- 多说评论框 end -->
	</div>
</div>
